# Dependências (serão instaladas no build)
node_modules
npm-debug.log

# Arquivos de ambiente (cada ambiente tem o seu)
.env
.env.local
.env.*.local

# Logs
*.log
logs

# Arquivos do Git
.git
.gitignore

# Arquivos de IDE
.vscode
.idea
*.swp
*.swo

# Arquivos temporários
*.tmp
.DS_Store

# Arquivos de teste
coverage
.nyc_output

# Documentação
README.md

